* {
    margin:0;
    padding:0;
    background-color: offwhite;
    font-family:'Times New Roman', Times, serif;
    color:black;

}
.header {
    display:flex;;
    justify-content:space-between;
    align-items:center;
    padding:20px 40px;
    background-color:#ffffff;
    box-shadow:0 2px 4px rgba(0,0,0,0.1);

}

.logo {
    font-size: large;
    color:red;
    text-decoration:none;
    font-weight:bold;


}